.flash-notice= flash[:notice]

.page-header
  %h1 MOOCvis Gallery
- @tags_hash.each do |tag, visualizations|
  .row
  %h3= tag
  .row
  - visualizations.each do |vis|
    .col-md-4
      = link_to (image_tag vis.thumbnail.url, :size => "250x200", :class => 'viz_thumbnail'), "/visualizations/#{vis.id}"


