.flash-notice= flash[:notice]

.page-header
  %h1 Gallery
- @tags_hash.each do |tag, visualizations|
  .row
  %h2= tag
  .row
  - visualizations.each do |vis|
    .col-md-4
      = link_to (image_tag vis.thumbnail.url, :size => "250x200"), "/visualizations/#{vis.id}"


