%hr
%strong
	&copy; 2013 MIT CSAIL ALFA Lab, built by Sherwin Wu, Colin Taylor, and Brian Bell for 
	= succeed ',' do  
		= link_to "6.885", "http://db.csail.mit.edu/6.885/", :target => '_blank'
	source on 
	= succeed '.' do
		= link_to "Github", "https://github.com/MOOCdb/MOOCdb/tree/moocvis"