%hr
%strong
	&copy; 2013 
	= succeed '.' do 
		= link_to "MIT CSAIL ALFA Lab", "http://groups.csail.mit.edu/EVO-DesignOpt/groupWebSite/index.php?n=Site.AlfaX", :target => '_blank'
	Built by Sherwin Wu, Colin Taylor, and Brian Bell. Source on 
	= succeed '.' do
		= link_to "Github", "https://github.com/MOOCdb/MOOCdb/tree/moocvis", :target => '_blank'